{% extends 'fondo.html' %}

{% load static %}
{% load bootstrap5 %}

{% bootstrap_javascript %}
{% bootstrap_css %}

<title>login</title>

{% block contenido %}
  <div class="container text-center w-50 h-75 p-3 rounded text-white" style="margin-top:110px; background-color: rgb(29, 28, 28,0.5)" />
      <h3 class="text-uppercase text-center text-white mt-3">iniciar sesion</h3>
       <form  method="post" class="mt-4 w-75 mx-auto p-4">
        {% csrf_token %}
        {% bootstrap_form form %}
        <div class="form-group m-5 ">
          <button type="submit" class="btn btn-danger">Ingresar</button>
          <a  class="btn btn-danger m-2" href="{% url 'singup'%}" role="button">Registrarse</a>    
        </div>
       </form>
  </div>
{% endblock %}
