{% extends "base.html" %}

{% load static %}

{% load bootstrap5 %}
{% bootstrap_javascript %}




{% block  content  %} 


{% comment %} <div id="
<div class="container-fluid">
    
    <img src="{% static 'img/slider2.jpg' %}" class="w-100 d-block h-75" alt="Second slide">
</div>" >

        
</div> {% endcomment %}



<section class="principal">
    <img src="{% static 'img/slider2.jpg' %}" class="w-100 d-block h-75" alt="Second slide">

</section>

<section class="nosotros">

    <h1 class="text-center my-5 ">Pueblorrico Antioquia</h1>
    <p>Pueblorrico es un municipio de Colombia, localizado en la subregión Suroeste
         del departamento de Antioquia. Limita por el norte con los municipios de Salgar
          y Tarso, por el este con el municipio de Jericó, por el sur con el municipio
           de Andes y por el oeste con los municipios de Ciudad Bolívar e Hispania</P>
    
    <div class="container">

        <div class="row">

            <div class="col-3">
                <h3 class="text-center my-5 ">culumna1</h3>
                <div class="card" style="width: 15rem;">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      
                    </div>
                  </div>
            </div>


            <div class="col-3">
                <h3 class="text-center my-5 ">culumna2</h3>
                <div class="card" style="width: 15rem;">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      
                    </div>
                  </div>
            </div>


            <div class="col-3">
                <h3 class="text-center my-5 ">culumna3</h3>
                <div class="card" style="width: 15rem;">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      
                    </div>
                  </div>
            </div>


            <div class="col-3">
                <h3 class="text-center my-5 ">culumna4</h3>
                <div class="card" style="width: 15rem;">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      
                    </div>
                  </div>
            </div>

            

        </div>

    </div>

</section>

<section class="informacion">

    

</section>


















{% endblock  %}