{% extends "base.html" %}

{% load static %}

{% load bootstrap5 %}
{% bootstrap_javascript %}




{% block  content  %} 

<style>
  body{
    background-color:#CACACA
  }
  
 

</style>



<section class="nosotros" >

    <div class="row  container-fluid  p-5">


      <div class="col-4 my-5">

        <h1 class="cabecera   text-center p-2  ">Pueblorrico Antioquia</h1>
      
      <p class="text-left my-3">Pueblorrico es un municipio de Colombia, localizado en la subregión Suroeste
         del departamento de Antioquia ,esta ubicado a 126 KM de la ciudad de Medellin. Limita por el norte con los municipios de Salgar
          y Tarso, por el este con el municipio de Jericó, por el sur con el municipio
           de Andes y por el oeste con los municipios de Ciudad Bolívar e Hispania.  
          Esta a una altura de 1800 metros sobre el nivel del mar</P>

      </div>

      <div class="col-8">

        <section class="principal my-5  ">
      
          <img src="{% static 'img/slider2.jpg' %}" class="img-fluid" alt="Second slide">
      
        </section>


      </div>


    </div>

    <div class=" row  container-fluid  ">

      <div class="col-8">

        <img src="{% static 'img/mula.jpg' %}" class="img-fluid" alt="Second slide">
        

      </div>

      <div class="col-4">

        <h3 class="cabecera text-center"> Historia</h3>

        <p class="text-left my-1">En 1540, un teniente español de la tropa conquistadora del Mariscal 
          Jorge Robledo fue encomendado con la meta de explorar partiendo de la
           ciudad de Arma hacia el norte, los territorios a la vera del río Cauca.
            Esta avanzada exploró una gran extensión del territorio hoy conocido como 
            Suroeste de Antioquia, dentro de la cual estaban los terrenos del hoy Pueblorrico.
          En 1825 un grupo de colonos provenientes de la ciudad de Medellín encabezados por don 
          Gabriel Echeverri, al conocer este territorio le ofrecieron al gobierno la compra de 
          vastas tierras en esta jurisdicción y lograron la negociación. Posteriormente, otro colono
           de nombre Santiago Santamaría heredaría los terrenos.
          Alrededor de 1869 la localidad adquirió la categoría de corregimiento y posteriormente,
           en 1907 la de parroquia. </p>

           <p class="text-left">
          En 1911 se segrega del municipio de Jericó y adquiere la categoría de fracción 
          municipal. Pese a que al distrito se le intentó llamar de otra manera, el denominativo
           de Pueblorrico persistió por generaciones, al parecer como consecuencia de que los primeros
            españoles conquistadores que pisaron las tierras hallaron indígenas con considerables cantidades 
            de oro y lo bautizaron de tal modo </P>
       
      
        

      </div>


    </div>



    

      {% comment %} cards body {% endcomment %}

    
            

            <div class="row container-fluid">

              <h1 class="  text-center my-5 pl-2">Sitios De Interes</h1> 

              <div class="card mb-3 col-6 " style="max-width: 540px;">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="{% static 'img/iglesia.jpg' %}" class="rounded-start" width="180px" height="200px" >
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">Templo</h5>
                      <p class="card-text my-4">El templo religioso san Antonio de padua esta ubicado 
                        en el parque principal del municipio,construido hace aproximadamente 58 años</p>
                      
                    </div>
                  </div>
                </div>
              </div>
        
              <div class="card mb-3  col-6  mx-4" style="max-width: 540px padding-left">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="{% static 'img/saltom.jpg' %}" class="rounded-start " width="180px" height="200px" >
                  </div>
                  <div class="col-md-8">
                    <div class="card-body ml-5">
                      <h5 class="card-title">Salto De Los Monos</h5>
                      <p class="card-text ">El Salto De Los Monos: a 15 minutos del 
                        pueblo sobre la vía pavimentada que conecta con el municipio
                         vecino de Tarso, cerca de la capilla de la vereda El Cedrón, 
                         cuenta con una imponente caída de 80 metros de altura</p>
                    </div>
                  </div>
                </div>
              </div>
        
        
            </div> 
        
        
            <div class="row container-fluid my-3 ">
        
              <div class="card mb-3 col-6 " style="max-width: 540px;">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="{% static 'img/golgota1.jpeg' %}" class="rounded-start" width="180px" height="200px" >
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">Sendero El Golgota</h5>
                      <p class="card-text my-4">El Gólgota, un cerro ubicado cerca a la 
                        cabecera municipal y desde el que se puede admirar los municipios
                         aledaños, es uno de los principales referentes turísticos del municipio</p>
                      
                    </div>
                  </div>
                </div>
              </div>
        
              <div class="card mb-3  col-6  mx-4 " style="max-width: 610px ">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="{% static 'img/mural1.png' %}" class="rounded-start " width="180px" height="200px" >
                  </div>
                  <div class="col-md-8">
                    <div class="card-body ml-5">
                      <h5 class="card-title">Mural</h5>
                      <p class="card-text ">El mural de barranquismo fue creado por el artista Pueblorriqueño Willian Pelaez
                        para la celebracion de los 100 años como municipio.Esta ubicado a unas tres cuadras del parque principal</p>
                    </div>
                  </div>
                </div>
              </div>
        
        
            </div> 

      

      

            





           


           

            

        

    


   

</section>

<section class="cards">


</section>




















{% endblock  %}