{% load static %}

{% load bootstrap5 %}

{% bootstrap_javascript %}
{% bootstrap_css %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'main.css' %} ">
    <title> {% block  title %}{% endblock  %} </title>
</head>
<body>
    
    <style> 
        .dropdown-menu{
            background: black;
            padding: 5px;
        }

        .dropdown-item{
            color: white;
        }

        .dropdown-item:hover{
            background-color: white;
            color: black; 
        }
    </style> 

    <nav class="navbar navbar-expand-sm navbar-dark p-1 fixed-top" style="">
        <a class="navbar-brand" href=" {% url 'index' %} "><img src="{% static 'img/logo.png' %} " alt="" width="90px"></a>
        <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId"
            aria-expanded="false" aria-label="Toggle navigation"></button> 
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav ms-auto mt-2 mt-lg-0 mx-4">
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'index' %} " aria-current="page">Inicio <span class="visually-hidden ">(current)</span></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-white" href="#" id="dropdownId" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Servicios</a>
                    <div class="dropdown-menu" aria-labelledby="dropdownId">
                        
                        <a class="dropdown-item" href="{% url 'cita' %} ">Cita</a>
                        <a class="dropdown-item" href="{% url 'edicion' %} ">Edición</a>
                        <a class="dropdown-item" href="{% url 'evento' %} ">Evento</a>
                        <a class="dropdown-item" href="{% url 'perforacion' %} ">Perforacion</a>
                        <a class="dropdown-item" href="{% url 'publicidad' %} ">Publicidad</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="/admin">Mas de nosotros</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="/admin">Admin</a>
                </li>
                <li class="nav-item">
                    <div class="float-end  mx-3">
                        {% if user.is_authenticated %}          
                            <span class="text-white p-2">Bienvenido {{user.username}} a Baber Harry</span>
                            <a class="btn btn-danger" href="{% url 'cerrar_sesion'%}" role="button">Cerrar sesion</a>            
                        {% else %}
                            <a class="btn btn-outline-danger text-white" href="{% url 'login'%}" role="button">Iniciar sesion</a>
                            {% comment %} <a  class="btn btn-warning" href="{% url 'singup'%}" role="button">Registrarse</a>     {% endcomment %}
                        {% endif %}
                        </div>
                </li>
            </ul>
        </div>
    </nav>
    <div>
    {% block  content  %} {% endblock  %}

<footer class="p-4 container-expand bg-dark text-center mt-5 text-white">
    <h6>&copy; 2022 Aprendices ADSI Sena</h6> 
</footer>
</body>
</html>
