{% extends 'base.html' %}
{% load static  %}
{% load bootstrap5 %}

{% bootstrap_javascript %}
{% bootstrap_css %}

{% block title %} Inicio {% endblock  %}

{% block  content %}

<style>
       .caption { 
        position: absolute; 
        top: 45%; 
        left: 38%; 
        color: white;
        letter-spacing: 2px;
       } 
       
       .zoom{
        animation: zoomout 2.5s ease-in normal;
    }

    @keyframes zoomout {
        0%{
            transform:scale(1.2);
        }

    }

    .section-1{
        background-image: url(../static/img/parallax.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        height: 600px;
        color: white;
        
    }

    #head{
        background: #ede6db;
        height: 50px;
        margin-top:-20px;
        border-radius: 5px;
        
      }

      #cen{
        position: relative; 
        top: 30%; 
      }



</style>


<div class="zoom">
    <img src="{% static 'img/R.jpg' %}" class="w-100 d-block" alt="" height="600px" width="100%">
    <div class="caption"> 
        <h1 class="text-center"><strong>Barbería Harry</strong></h1>
    </div>               
</div>


<div class="container-fluid mt-4" style="display: inline-block;">
    <div class="row">
        <h3 class="text-center my-5"><strong> Servicios</strong></h3>
        <div id="cut" class="card border-light col-md-3 mt-4" style="max-width: 18rem; left: 10px">
            <div id="head" class="card-header text-center"><h5>Corte de Cabello</h5></div>
            <div class="card-body">
              <p class="card-text">Corte de cabello para caballeros que se adaptan a tu gusto, excelente asesoria y lo ultimo en tendencia de cortes.</p>
            </div>
          </div>
          
        <div id="cut" class="card border-light col-md-3 mt-4" style="max-width: 18rem; left: 40px">
            <div id="head" class="card-header text-center"><h5>Barba</h5></div>
            <div class="card-body">
              <p class="card-text">Servicio especializado en cuidado, corte y perfilación de barba adecuando diseño y forma al rostro del cliente.</p>
            </div>
          </div>

          <div id="cut" class="card border-light col-md-3 mt-4" style="max-width: 18rem; left: 65px">
            <div id="head" class="card-header text-center"><h5>Perforaciones</h5></div>
            <div class="card-body">
              <p class="card-text">Servicio de perforación en orejas, labios, cejas, lengua. Con la mejor experiencia brindada por un profesional</p>
            </div>
          </div>

          <div id="cut" class="card border-light col-md-3 mt-4" style="max-width: 18rem; left: 90px">
            <div id="head" class="card-header text-center"><h5>Cejas</h5></div>
            <div class="card-body">
              <p class="card-text">Diseño y depilación de cejas dando la forma apropiada de tus ojos y rostro con el grosor y linea natural de tus cejas.</p>
            </div>
          </div>

       
    </div>
</div>

<div class="container-expand w-100 d-block"> 
    <div class="row">
        <div class="col-sm-4 w-100">
            <div class="section-1"> 
                <h1  id="cen" class="text-center"><strong>Nuestra Barbería</strong></h1>
            </div>
        </div>
    </div>
</div>

 

<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
{% endblock  %}
