{% extends 'base.html' %}
{% load static  %}
{% load bootstrap5 %}

{% bootstrap_javascript %}
{% bootstrap_css %}

{% block title %} Inicio {% endblock  %}

{% block  content %}

<style>
       .caption { 
        position: absolute; 
        top: 45%; 
        left: 38%; 
        color: white;
       }  

</style>

<div>
    <img src="{% static 'img/R.jpg' %}" class="w-100 d-block" alt="" height="600px" width="100%">
    <div class="caption"> 
        <h1 class="text-center"><strong>Barbería Harry</strong></h1>
    </div>               
</div>


<div class="container-expand mt-4" style="background-color: whitesmoke; display: inline-block;">
    <div class="row">
        <h4 class="text-center mt-5"><strong>Nuestros Servicios</strong></h4>
        <div class="col-md-3 mt-4">
            <div class="mx-3 p-4 text-center" id="cut">
                <h5>Corte de cabello</h5><ion-icon name="cut-outline" size="large"></ion-icon>
                <p class="w-100 p-3 mx-auto">
                    Corte de cabello para caballeros que se adaptan a tu gusto, excelente
                    asesoria y lo ultimo en tendencia de cortes.
                </p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="mx-3 p-4 mt-4 text-center"  id="cut">
                <h5>Barba</h5><ion-icon name="cut-outline" size="large"></ion-icon>
                <p class="w-100 p-3 mx-auto">
                    Servicio especializado en cuidado, corte y perfilación de barba adecuando
                    diseño y forma al rostro del cliente.
                </p>
            </div>
        </div>
        <div class="col-md-3 mt-4">
            <div class="mx-3 p-4 text-center" id="cut">
                <h5>Perforaciones</h5><ion-icon name="cut-outline" size="large"cut-outline></ion-icon>
                <p class="w-100 p-3 mx-auto">
                    Servicio de perforación en orejas, labios, cejas, lengua.
                    Con la mejor experiencia brindada por un profesional
                </p>
            </div>
        </div>
        <div class="col-md-3 mt-4">
            <div class="mx-3 p-4 text-center" id="cut">
                <h5>Cejas</h5><ion-icon name="cut-outline" size="large"></ion-icon>
                <p class="w-100 p-3 mx-auto">
                    Diseño y depilación de cejas dando la forma apropiada de tus ojos y rostro
                    con el grosor y linea natural de tus cejas.
                </p>
            </div>
        </div>   
    </div>
</div>

<div class="container p-4 mt-4 shadow">
    <h3 class="text-center"><strong>Nuestro Barbero</strong></h3>
    <div class="row">
        <div class="col-sm-4">
            <div>
                <img src="{% static 'img/index.jpg' %} " alt="" width="420px" height="600px" class="rounded "  style="opacity: 0.7;">
            </div>
        </div>
        <div class="col-sm-8" style="background-color: rgba(241, 248, 246, 0.9);">
            <div>
               <p style="  color: rgb(2, 2, 2,0.7 );">
                Harriman , barber profesional, con mas de 7 años de experiencia en la industria de las barberias 
               </p>
            </div>
        </div>
    </div>
</div>

 

<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
{% endblock  %}
