{% extends "base.html" %}
{% load static %}

{% load bootstrap5 %}
{% bootstrap_javascript %}
{% bootstrap_css %}

{% block title %} Evento {% endblock  %}

{% block  content  %} 

<style>
    .caption{
    position: absolute; 
    top: 35%; 
    left: 5%;
    
    }

    .img{
        transform: translate(0, 0);
        transition: .3s;
    }

    .img:hover{
        transform: translate(0, -9px);
    }

    .boton{
     color: white;
     background:  black;

    }

    .boton:hover{
        color: black;
        border: 1px solid black;
        background: transparent;
    }
    
    .video{
        width: 100%;
       
    }
    
</style>



<div>   
    <video class="video" autoplay muted loop>
        <source src="{% static 'img/entrada.mp4' %}" type="video/mp4">
    </video>
    <div class="caption text-capitalize text-white">
        <h1 class="display-2 animate__animated animate__fadeInUp">La mejor compañia <br> para tus eventos</h1>
    </div>    
</div>

<div class="container-fluid mt-3" data-aos="fade-right">
 <div class="row justify-content-around">
    <h2 class="text-center text-black mt-5"><strong><em>En tus mejores momentos</em></strong></h2>
  
    <div class="text-center" style="font-size: 23px;"><p><em>La música y el color harán parte, nuestro servicio totalmente personalizado se adapta al lugar y a tu gusto</em><p></div>
   
  
 </div>
</div>

<div class="container-fluid p-4 mt-3">
    <div class="row justify-content-around">
        
        <div class="card shadow" style="width: 18rem;">
            <img src="{% static 'img/fies.jpg' %}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title p-2 text-center">Eventos Sociales</h5>
              <p class="card-text p-3 text-left">Hacemos parte de tu celebración bodas, cumpleaños, graduaciones, aniversarios, todo lo que se te pueda ocurrir</p>
              <a href="https://wa.me/+573126817064?text=Hola%20deseo%20tener%20más%20informacion%20del%20servicio%20de%20evento%20" class="btn boton mx-5">Cotizar Evento</a>
            </div>
          </div>

          <div class="card shadow" style="width: 18rem;">
            <img src="{% static 'img/cultura.jpeg' %}" class="card-img-top h-100" alt="...">
            <div class="card-body">
              <h5 class="card-title p-2 text-center">Eventos Culturales</h5>
              <p class="card-text p-3">Tus actividades artisticas, ludicas y recreativas estarán acompañadas de la mejor música con el mejor ambiente</p>
              <a href="https://wa.me/+573126817064?text=Hola%20deseo%20tener%20más%20informacion%20del%20servicio%20de%20evento%20" class="btn boton mx-5">Cotizar Evento</a>
            </div>
          </div>

          <div class="card shadow" style="width: 18rem;">
            <img src="{% static 'img/disco.jpg' %}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title p-2 text-center">Eventos Musicales</h5>
              <p class="card-text p-3">Desde conciertos hasta festivales, la iluminación y el sonido crearán un espacio entretenido</p>
              <a href="https://wa.me/+573126817064?text=Hola%20deseo%20tener%20más%20informacion%20del%20servicio%20de%20evento%20" class="btn boton mx-5 mt-4">Cotizar Evento</a>
            </div>
          </div>
    </div>
</div>

<div class="container-fluid my-5">
    <div class="row my-5 mx-3">
        <div class="col-md-4 text-left">
            <h4 class="display-4"><strong>Experiencias Inolvidables</strong></h4>
            <p class="fs-5">Disponemos de equipos de sonido profesionales, iluminación espectacular en compañia de nuestro Dj, experto en entretenimiento.
                <br>
                <br>
                <em>Creamos para ti un ambiente ameno, lleno de diversión a tu estilo</em>
            </p>

        </div>
        
        <div class="col-md-8 my-5">
            
            <img src="{% static 'img/event.jpg' %}" class="img rounded mb-5" alt="" height="260px" width="256px">
            <img src="{% static 'img/evento2.jpg' %}" class="img rounded mt-3" alt=""  height="260px" width="256px">
            <img src="{% static 'img/evento3.jpg' %}" class="img rounded mt-5 " alt=""  height="260px" width="256px">

            
        </div>
    </div>
</div>







                







{% endblock  %}
