{% extends "base.html" %}

{% load static %}

{% load bootstrap5 %}
{% bootstrap_javascript %}







{% block  content  %} 



<style>
    .wrapper, .single-card {
        height: 300px;
        max-width: 18.5rem;
       
    }
    .wrapper {
        perspective: 950px;
    }
    .single-card {
        transition: all 1s cubic-bezier(0.2, 0.2, 0.2, 1);
        transform-style: preserve-3d;
    }
    .wrapper:hover .single-card {
        transform: rotateY(180deg);
    }
    .front, .back { 
        top: 0;
        left: 0;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        height: 300px;
        width: 17rem;
        border-radius:10px;
        
    }
    .front {
        cursor: pointer;
        background-image: url(../static/img/porejah.jpg);
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        background-size: cover;
        background-position: center center;
        border-radius:10px;
    }

    .front1{
        cursor: pointer;
        background-image: url(../static/img/pnariz.jpg);
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        background-size: cover;
        background-position: center center;
        border-radius:10px;
    }
    .front2{
        cursor: pointer;
        background-image: url(../static/img/pnariz2.jpg);
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        background-size: cover;
        background-position: center center;
        border-radius:10px;
    }

    .front3{
        cursor: pointer;
        background-image: url(../static/img/poreja3.jpg);
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        background-size: cover;
        background-position: center center;
        border-radius:10px;
    }
    .front4{
        cursor: pointer;
        background-image: url(../static/img/plabio1.jpg);
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        background-size: cover;
        background-position: center center;
        border-radius:10px;
    }
    .front5{
        cursor: pointer;
        background-image: url(../static/img/nasal4.jpg);
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        background-size: cover;
        background-position: center center;
        border-radius:10px;
    }
    .front6{
        cursor: pointer;
        background-image: url(../static/img/plabion.jpg);
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        background-size: cover;
        background-position: center center;
        border-radius:10px;
    }
    .front7{
        cursor: pointer;
        background-image: url(../static/img/plabio2.jpg);
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        background-size: cover;
        background-position: center center;
        border-radius:10px;
    }

    .back {
        transform: rotateY(180deg);
        position: absolute; 
        background: whitesmoke;
        height: 300px;
        width: 17rem;
    }
        



    


</style>


<div classs="container-fluid">
 

    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="{% static 'img/letreropiercing.webp' %}" class="d-block w-100 mx-auto" alt="..." height="600px">
          </div>
          <div class="carousel-item">
            <img src="{% static 'img/nasal2.jpg' %}" class="d-block w-100 mx-auto" alt="..."  height="600px">
          </div>
          <div class="carousel-item">
            <img src="{% static 'img/oreja.jpg' %}" class="d-block w-100" alt="..."  height="600px">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
    </div>


    <div class="container fluid " data-aos="fade-right" >

        <div class="row justify-content-around mx-5 my-5 ">
           
            <h4><em> Realizamos todo tipo de perforaciones faciales
                 y corporales ,cumpliendo con los mas altos estrandares 
                 de servicio buscando la satisfaccion total del cliente
                ,gracias a los exelentes resultados obtenidos.</em></h4>

        </div>

    </div>

    <div class="row container-fluid justify-content-around text-black">

       
     

        <div class="wrapper" data-aos="flip-down">
         <div class="single-card text-center ">
            <div class="front position-relative h-100 w-100"></div>
            <div class="back">
                <div class="content p-4 ">
                    <h2 class="c1 my-4">Lóbulo</h2>
                    
                    <p>PRECIO: $ 9.000</p>
                </div>
            </div>
         </div>
        </div>
        
        

        <div class="wrapper" data-aos="flip-down">
            <div class="single-card text-center">
                <div class="front1 position-relative h-100 w-100"></div>
                <div class="back">
                    <div class="content p-4">
                        <h2 class="c1 my-4">Nostril</h2>
                    
                         <p>PRECIO:15.000$</p>
                    </div>
                </div>
            </div>
        </div>

        
          

        <div class="wrapper" data-aos="flip-down">
            <div class="single-card text-center" >
                <div class="front2 position-relative h-100 w-100"></div>
                <div class="back">
                    <div class="content p-4">
                        <h2 class="c1 my-4">Nostril</h2>
                    
                         <p>PRECIO:15.000$</p>
                    </div>
                </div>
            </div>
        </div>
              

        
     

        <div class="wrapper" data-aos="flip-down">
            <div class="single-card text-center " >
             <div class="front3 position-relative h-100 w-100"></div>
              <div class="back">
                <div class="content p-4">
                    <h2 class="c1 my-4">Industrial</h2>
                
                     <p>PRECIO:20.000$</p>
                </div>
             </div>
            </div>
        </div>
              

    </div>

    <div class="row container-fluid justify-content-around my-4">
       
        <div class="wrapper" data-aos="flip-down">
            <div class="single-card text-center ">
               <div class="front4 position-relative h-100 w-100"></div>
               <div class="back">
                   <div class="content p-4">
                       <h2 class="c1 my-4">Labret Lateral</h2>
                       
                       <p>PRECIO:$ 10.000</p>
                   </div>
               </div>
            </div>
           </div>
           
           
   
           <div class="wrapper" data-aos="flip-down">
               <div class="single-card text-center ">
                   <div class="front5 position-relative h-100 w-100"></div>
                   <div class="back">
                       <div class="content p-4">
                           <h2 class="c1 my-4">Setum</h2>
                       
                            <p>PRECIO:14.000$</p>
                       </div>
                   </div>
               </div>
           </div>
   
           
             
   
           <div class="wrapper" data-aos="flip-down">
               <div class="single-card text-center " >
                   <div class="front6 position-relative h-100 w-100"></div>
                   <div class="back">
                       <div class="content p-4">
                           <h2 class="c1 my-4">Labret Vertical</h2>
                       
                            <p>PRECIO:15.000$</p>
                       </div>
                   </div>
               </div>
           </div>
                 
   
           
        
   
           <div class="wrapper" data-aos="flip-down">
               <div class="single-card text-center " >
                <div class="front7 position-relative h-100 w-100"></div>
                 <div class="back">
                   <div class="content p-4">
                       <h2 class="c1 my-4">Snake Bites</h2>
                   
                        <p>PRECIO:20.000$</p>
                   </div>
                </div>
               </div>
           </div>

           <div class="bg-primary">
            <a alt="Hablemos por Whatsapp" href="https://wa.me/+573126817064?text=Hola.%20Deseo%20recibir%20informacion%20del%20servicio%20"><img class="fixed-bottom" src="{% static 'img/BOTON WHATSAPP-01.png' %}" width="230" height="85" title="Cotiza tu servicio"></img></a>
           </div>

       

    </div>
    

 
</div>








{% endblock  %}