{% extends 'base.html' %}
{% load static %}
{% load bootstrap5 %}

{% bootstrap_javascript %}
{% bootstrap_css %}

{% block tittle %}
  Productos
{% endblock %}

{% block content %}

<style>

    .box p{
        position: relative;
        top: 10%;
    }

    .section-2{
        background-color: rgba(0,0,0,0.60);
    }

    .section-1{
        background-image: url(../static/img/BANER.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        height: 400px;
        color: white;
    }

    .col-sm-4{
      background-color: rgba(0,0,0,0.60);
    }

    .img-producto{
      cursor: pointer;
      width: 100%;
      transition: all 500ms ease-out;
      margin: 0;
      border-radius: 10px;
    }

    .img-producto:hover{
      transform: scale(1.1);
    }

</style>

<div class="container-fluid w-100 d-block">
  <div class="row">
      <div class="col-sm-4 w-100">
          <div class="section-1">
              <div class="section-2 box  mt-5 ">
                  <h3 class="text-center "><strong>TENEMOS LOS MEJORES PRODUCTOS PARA TI</strong></h3>
                  <h6 class="text-center">En la <strong>Barbería Harry</strong> pensamos siempre en nuestros clientes, por eso tenemos los mejores productos para el cuidado de tu cabello o barba</h6>
          </div>
      </div>
  </div>
  <div class="container m-5 fst-italic">
    <h4 class="text-white text-center">PRODUCTOS DISPONIBLES</h4>
    <div class="w-25" style="float: right;">
      {% include 'carrito.html' %}
    </div>
    <div class="row">
      {% for x in producto %}
        <div class="card mx-3 shadow"  style="width: 18rem;">
          <img src="{{x.imagen.url}}" alt="" class="img-top" height="200px">
          <div class="card-body text-center">
            <h4> {{x.nombre}} </h4>
            <p>{{x.descripcion}} </p>
            <p>${{x.precio}} </p>
            <a href="{% url 'Add' x.id %}" class="btn btn-success">Agregar al carrito</a>
          </div>
        </div>
        {% endfor %}
      </div>
  </div>
</div>
</div>

{% endblock %}
