{% extends 'base.html' %}

{% load bootstrap5 %}

{% bootstrap_javascript %}
{% bootstrap_css %}

{% block title %}
  Servicios
{% endblock %}

{% block content %}
  <div class=" text-center p-3 mt-4">
    <div class="row">
      {% for servicio in servicios %}
        <div class="col-sm-3">
          <div class="card shadow-lg border "  id="card">
            <div class="card-body" > 
              {% if servicio.imagen %}
                <img src="{{ servicio.imagen.url }} " height="280px" class="card-image w-100 rounded my-3" alt="img" />
              {% endif %}
              <h5 class="card-title">{{ servicio.tipo_servicio }}</h5>
              <p class="card-text">{{ servicio.descripcion }}</p>
              <p class="card-text">
                <strong>precio:</strong> ${{ servicio.precio }}
              </p>
              <a href="{% url 'cita' %} " class="btn btn-danger m-2">Ingresar</a>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>


{% endblock %}
